*{
    box-sizing: border-box;
 }
 *:focus{
     outline: none;
 }
 body{
     font-family: Arial;
     background: rgb(230, 230, 230);
     padding: 50px;
 }
 .login{
     margin: 400px auto;
     width: 150px;
 }
 .login-screen{
     background-color: #3498DB;
     padding: 20px;
     border-radius: 5px;
 }
 .app-title{
     text-align: center;
     color: rgb(0, 0, 0);
 }
 .login-form{
     text-align: center;
 }
 .controld-group{
     margin-bottom: 15px;
 }
 input{
     text-align: center;
     background-color: #f6f5f5;
     border: 3px solid transparent;
     border-radius: 3px;
     font-size: 16px;
     font-weight: 200;
     padding: 10px 0;
     width: 170px;
     transition: border .5s;
 }
 input:focus{
      border: 2px solid #3498DB;
      box-shadow: none;
 }
 .btn{
      border: 2px solid transparent;
      background: #3498DB;
      color: rgb(251, 251, 251);
      font-size: 16px;
      line-height: 25px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      transition: 0.25s;
      display: block;
      width: 170px;
      margin: 0 auto;
     margin-top: 5px;
 }
 .btn:hover{
 background-color: #299
 }